/* global properties */
:root {
  /* color definations */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --black: #2f2f37;

  /* font weight definitions */
  --regular: 400;
  --medium: 500;
  --bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
}

body,
section,
header,
footer,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
}

p,
span {
  margin: 0;
  padding: 0;
  border: 0;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
}

/* title properties */
h1 {
  font-size: 56px;
  font-weight: var(--bold);
  line-height: 1.07;
  letter-spacing: 1.12px; /* %2 harf aralığı - 56px font büyüklüğü için 1.12px eder */
}

h2 {
  font-weight: var(--bold);
  font-size: 36px;
  letter-spacing: 0.72px; /* %2 harf aralığı - 36px font büyüklüğü için 0.72px eder */
}

h3 {
  font-weight: var(--medium);
  font-size: 20px;
  line-height: 1.11;
  letter-spacing: 0.4px; /* %2 harf aralığı - 20px font büyüklüğü için 0.4px eder */
}

/* body properties */
body {
  font-family: "Roboto", sans-serif;
  font-weight: var(--regular);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px; /* %2 harf aralığı - 16px font büyüklüğü için 0.32px eder */
  color: var(--slate);
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0;
}

/* body medium properties */
.medium {
  font-weight: var(--medium);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px; /* %2 harf aralığı - 16px font büyüklüğü için 0.32px eder */
}

/* small text properties */
.small {
  font-size: 12px;
  font-weight: var(--regular);
  line-height: 14px;
  letter-spacing: 0.48px; /* %4 harf aralığı - 12px font büyüklüğü için 0.48px eder */
}

/* buton properties */
button {
  width: auto;
  /* min-width: 169px; */
  height: auto;
  /* min-height: 56px; */
  background-color: var(--iris);
  color: var(--white);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: var(--medium);
  line-height: 1.5;
  letter-spacing: 0.64px; /* %4 harf aralığı - 16px font büyüklüğü için 0.64px eder */
  padding: 16px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  background-color: var(--ocean);
}

/* Link properties */
.link {
  font-weight: var(--regular);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.48px; /* %4 harf aralığı - 12px font büyüklüğü için 0.48px eder */
  text-decoration: underline;
  color: var(--iris);
}

/* section properties */
section {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* container properties */
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0px;
}

/* main properties */
main {
  flex-grow: 1;
}

/* Mobile design properties */

/* header properties */
.page-header {
  position: fixed;
  top: 0;
  left: auto;
  width: 320px;
  height: 56px;
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 1000;
}

.page-header .container {
  display: flex;
  gap: 149px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px;
}

/* logo */
.page-header .container .logo {
  font-family: "Raleway", sans-serif;
  font-weight: var(--bold);
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 1.03;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 0;
  color: var(--iris);
  width: 115px;
  height: 24px;
}

.page-header .container .logo span {
  font: inherit;
  color: var(--navy-blue);
}

/* mobile menu icon properties*/
.mobile-menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.mobile-menu-icon .icon {
  width: 21px;
  height: 21px;
  display: inline-block;
  fill: var(--black);
}

/* navbar properties */
.navbar {
  position: absolute;
  top: 0;
  right: -1px;
  width: 322px;
  /* height: 640px; */
  background-color: var(--white);
  display: none;
  padding: 24px 24px 40px 16px;
  z-index: 1300;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: flex-start;
  /* align-items: center; */
  text-align: left;
  /* height: 200px; */
  margin-bottom: 168px;
}

.navbar-item {
  display: block;
  position: relative;
}

.navbar-links {
  text-decoration: none;
  color: var(--navy-blue);
  font-weight: var(--bold);
  font-size: 36px;
  letter-spacing: 0.72px; /* %2 harf aralığı - 36px font büyüklüğü için 0.72px eder */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-links:hover {
  text-decoration: none;
  color: var(--ocean);
}

/* mobile navbar close icon properties */
.navbar .mobile-close-icon {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 24px;
  margin-bottom: 24px;
}

.navbar .mobile-close-icon .icon-link {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;
  text-decoration: none;
  width: 24px;
  height: 24px;
  background-color: rgba(231, 233, 252, 0.2);
  border: 0.5px solid rgba(46, 47, 46, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.navbar .mobile-close-icon .icon {
  display: inline-block;
  justify-content: center;
  align-self: center;
  width: 8px;
  height: 8px;
  fill: var(--navy-blue);
}

/* mobile menu active properties */
.active {
  display: block;
  color: var(--ocean);
  overflow: hidden;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* mobile address properties */
.navbar address {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 72px;
  margin-bottom: 48px;
}

.navbar address a {
  color: var(--slate);
  font-weight: var(--medium);
  font-size: 20px;
  /* line-height: 1.11; */
  letter-spacing: 0.4px; /* %2 harf aralığı - 20px font büyüklüğü için 0.4px eder */
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar address a:hover {
  color: var(--ocean);
}

.navbar address a:first-child {
  position: absolute;
  top: 48px;
}

.navbar address a:last-child {
  color: var(--ocean);
}

/* mobile menu social icons properties */
.navbar .social-links {
  display: flex;
  gap: 40px;
  flex-shrink: 0;
  align-self: flex-start;
  height: 40px;
}

.navbar .social-links li {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  border: 0;
  box-shadow: none;
}

.navbar .social-links li .icon-link {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.48px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar .social-links li .icon-link:hover {
  background-color: var(--green);
}

.navbar .social-links li .icon-link .icon {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  fill: var(--cloud);
}

/* hero */
.hero {
  position: relative;
  margin: 56px auto 0;
  padding: 0;
  width: 320px;
  height: 432px;
  z-index: 90;
}

.hero .container {
  position: relative;
  width: 320px;
  height: 432px;
  z-index: 100;
  background-image: url(../images/hero-320.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 72px;
  text-align: center;
  padding: 72px 52px;
}

.hero .container::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 432px;
  margin: 0 auto;
  content: "";
  background-color: var(--grey);
  background-position: center;
  opacity: 0.7;
  z-index: 200;
}

.hero p {
  display: block;
  margin: 0 auto;
  padding: 0;
  color: var(--white);
  z-index: 300;
  width: 216px;
  height: 160px;
  font-weight: var(--bold);
  font-size: 36px;
  letter-spacing: 0.72px; /* %2 harf aralığı - 36px font büyüklüğü için 0.72px eder */
  line-height: 1.1;
}

.hero button {
  position: relative;
  display: block;
  z-index: 300;
  margin: 0 auto;
}

/* services */
.services {
  position: relative;
  margin: 0 auto;
  background-color: var(--white);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

.services .container {
  margin: 96px 16px;
}

.services ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.services li {
  text-align: left;
  width: 288px;
}

.services li .baslik {
  display: block;
  text-align: center;
  padding-bottom: 8px;
  color: var(--navy-blue);
  font-weight: var(--bold);
  font-size: 36px;
  letter-spacing: 0.72px; /* %2 harf aralığı - 36px font büyüklüğü için 0.72px eder */
}

.services li p {
  color: var(--slate);
}

.services ul li .icon-container {
  display: none;
}

/* team */
.team {
  position: relative;
  margin: 0 auto;
  background-color: var(--cloud);
  display: flex;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.team .container {
  padding: 96px 16px;
}

.team h2 {
  margin: 0 auto;
  margin-bottom: 72px;
  color: var(--navy-blue);
}

.team ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
  cursor: pointer;
}

.team li {
  width: 264px;
  height: 428px;
  min-height: 380px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--white);
  border: 0.5px solid rgba(40, 101, 42, 0.08);
  border-radius: 4px;
  box-shadow: 0px 1px 6px rgba(40, 101, 42, 0.08),
    0px 1px 1px rgba(40, 101, 42, 0.16), 0px 2px 1px rgba(40, 101, 42, 0.08);
  margin-bottom: 32px;
  overflow: hidden;
}

.team li img {
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 264px;
  height: 260px;
  overflow: hidden;
}

.team li .content {
  width: 232px;
  height: auto;
  min-height: 56px;
  margin: 32px 16px 8px;
  padding: 0;
}

.team li .content h3 {
  color: var(--navy-blue);
  width: auto;
  min-width: 134px;
  height: 24px;
  margin-bottom: 8px;
}

.team li .content p {
  color: var(--slate);
  width: auto;
  min-width: 128px;
  height: 24px;
}

.team .social-links {
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex-shrink: 0;
  align-self: flex-end;
  height: 50px;
  margin: 0;
  padding: 0 16px;
  margin-bottom: 32px;
}

.team .social-links li {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  border: 0;
  box-shadow: none;
}

.team .social-links li .icon-link {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.48px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team .social-links li .icon-link:hover {
  background-color: var(--ocean);
}

.team .social-links li .icon-link .icon {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  fill: var(--cloud);
}

/* portfolio */
.portfolio {
  position: relative;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  cursor: pointer;
  text-align: center;
}

.portfolio .container {
  padding: 96px 16px;
}

.portfolio h2 {
  position: relative;
  margin: 0 auto;
  margin-bottom: 72px;
  color: var(--navy-blue);
}

.portfolio .box {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.portfolio .card {
  flex: 1 1 calc(33.333%-10px);
  max-width: calc(33.333%-10px);
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 1px 6px rgba(40, 101, 42, 0.08);
  transition-property: box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .card:hover {
  box-shadow: 0px 1px 6px rgba(40, 101, 42, 0.08),
    0px 1px 1px rgba(40, 101, 42, 0.16), 0px 2px 1px rgba(40, 101, 42, 0.08);
}

.portfolio .card .img-box {
  position: relative;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 360px;
  height: 300px;
}

.portfolio .card .img-box img {
  position: relative;
  left: 0;
  top: 0;
  width: 360px;
  height: 300px;
  object-fit: cover;
  z-index: 100;
}

.portfolio .card .img-box .hover-box {
  display: none;
}

.portfolio .card .content {
  height: 120px;
  padding: 32px 16px;
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  border-bottom: 1px solid var(--cornflower);
  text-align: left;
  z-index: 300;
}

.portfolio .card .content h3 {
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.portfolio .card .content p {
  width: 296px;
  height: 96px;
  font-size: 16px;
  font-weight: var(--regular);
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slate);
}

/* contacts modal div properties */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 1100;
  overflow: hidden;
  display: none;
}

.modal-content {
  position: relative;
  width: 288px;
  height: 623px;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 1px rgba(0, 0, 0, 0.14);
  z-index: 1101;
  margin: 8px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 24px 16px;
}

.modal-content .icons {
  display: flex;
  justify-content: flex-end;
  width: 256px;
  height: 24px;
  margin: 0px 0px 24px;
}

.modal-content .icons .icon-link {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;
  text-decoration: none;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.modal-content .icons .icon {
  display: inline-block;
  justify-content: center;
  align-self: center;
  width: 8px;
  height: 8px;
  fill: var(--navy-blue);
}

.modal-content p {
  margin-bottom: 16px;
}

.modal-content .form-contact {
  width: 256px;
  height: 336px;
  text-align: justify;
}

.modal-content .form-contact .form-label {
  position: relative;
  width: 256px;
  height: 58px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-self: flex-start;
  color: var(--light-slate);
  margin-bottom: 8px;
}

.modal-content .form-contact .form-label .form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  padding: 8px 32px;
  outline: none;
}

.modal-content .form-contact .form-label .form-input:focus {
  border-color: var(--iris);
  color: var(--iris);
}

.modal-content
  .form-contact
  .form-label:focus-within
  > .form-input:focus
  + .icon {
  fill: var(--iris);
  border-color: var(--iris);
}

.modal-content .form-contact .form-label .icon {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  fill: var(--navy-blue);
  position: absolute;
  left: 16px;
  top: 36px;
}

.modal-content .form-contact .form-label-3 {
  position: relative;
  width: 256px;
  height: 138px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-self: flex-start;
  color: var(--light-slate);
  margin-bottom: 16px;
}

.modal-content .form-contact .form-label-3 .form-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
  resize: none;
}

.modal-content .form-contact .form-label .form-textarea:focus {
  border-color: var(--iris);
  color: var(--iris);
}

.modal-content .form-contact .form-label-2 {
  position: relative;
  width: 256px;
  height: 31px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 8px;
  align-self: flex-start;
  color: var(--light-slate);
  margin-bottom: 24px;
}

.modal-content .form-contact .form-label-2 .form-checkbox {
  display: block;
}

#check {
  display: flex;
  width: 16px;
  height: 16px;
  border: none;
  padding: 8px 0;
  outline: none;
  opacity: 1;
}

#check:checked {
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 20px;
  height: 20px;
  display: none;
  align-items: center;
  justify-content: center;
}

.checkmark .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: var(--iris);
}

#check:checked ~ .checkmark {
  display: block;
}

.form-contact .form-button {
  width: 169px;
  height: 56px;
  margin-left: 44px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

/* footer */
.page-footer {
  position: relative;
  width: 100%;
  height: 664px;
  background-color: var(--navy-blue);
  margin-bottom: 0;
  align-self: center;
  text-align: left;
}

.page-footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  width: 320px;
  padding: 96px 16px;
}

.page-footer .ft-logo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 288px;
  height: 112px;
}

.page-footer .ft-logo .footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: var(--bold);
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 1.03;
  width: auto;
  min-width: 115px;
  height: 24px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--iris);
  text-align: center;
}

.page-footer .ft-logo .footer-logo span {
  font: inherit;
  color: var(--cloud);
}

.page-footer .ft-logo p {
  width: 288px;
  height: 72px;
  color: var(--cloud);
  margin-top: 16px;
}

.page-footer .social {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 208px;
  height: 80px;
  color: var(--cloud);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.page-footer .social .social-links {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-shrink: 0;
  align-self: center;
  height: 50px;
}

.page-footer .social .social-links li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  box-shadow: none;
}

.page-footer .social .social-links li .icon-link {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.48px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .social .social-links li .icon-link:hover {
  background-color: var(--green);
}

.page-footer .social .social-links li .icon-link .icon {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  fill: var(--cloud);
}

.page-footer .subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 288px;
  height: 136px;
  color: var(--cloud);
  justify-content: center;
  align-items: center;
}

.page-footer .subscribe form {
  width: 288px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.page-footer .subscribe .form-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.page-footer .subscribe .form-input {
  padding: 8px 16px;
  font-family: inherit;
  font-size: 12px;
  font-weight: var(--regular);
  line-height: 2;
  letter-spacing: 0.48px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.page-footer .subscribe .form-input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.page-footer .subscribe .form-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  gap: 16px;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
}

.page-footer .subscribe .form-button .icon {
  width: 24px;
  height: 24px;
  font-size: 12px;
  display: inline-block;
  fill: var(--white);
}

/* is-open properties */
.is-open {
  display: block;
}

/* Media Queries */

@media (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
}

@media (min-width: 768px) {
  /* section properties */
  section {
    padding: 96px 0;
  }

  /* container properties */
  .container {
    min-width: 768px;
  }

  /* header properties */
  .page-header {
    width: 768px;
    height: 72px;
  }

  .page-header .container {
    gap: 120px;
    padding: 16px;
    /* align-items: center; */
  }

  .page-header .container .logo {
    height: 40px;
    padding: 8px 0;
  }

  /* mobile menu icon properties*/
  .mobile-menu-icon {
    display: none;
  }

  /* navbar properties */
  .navbar {
    position: relative;
    width: 501px;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 121px;
    padding: 0;
  }

  .navbar-menu {
    flex-direction: row;
    gap: 40px;
    justify-content: flex-start;
    width: 261px;
    height: 24px;
    padding: 8px 0;
    text-align: left;
  }

  .navbar-item {
    display: block;
    position: relative;
    padding: 0;
  }

  .navbar-links {
    font-weight: var(--medium);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px; /* %2 harf aralığı - 16px font büyüklüğü için 0.32px eder */
  }

  .active::after {
    content: "";
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--ocean);
    border-radius: 2px;
    display: block;
    overflow: hidden;
  }

  /* mobile navbar close icon properties */
  .navbar .mobile-close-icon {
    display: none;
  }

  /* mobile address properties */
  .navbar address {
    gap: 12px;
    width: 119px;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .navbar address a {
    width: 119px;
    height: 14px;
    padding: 0;
    font-weight: var(--regular);
    font-style: normal;
    font-size: 12px;
    /* line-height: 1.16; */
    letter-spacing: 0.48px; /* %4 harf aralığı - 12px font büyüklüğü için 0.48px eder */
  }

  .navbar address a:first-child {
    position: relative;
    padding: 0;
    top: 0;
  }

  .navbar address a:last-child {
    color: var(--navy-blue);
  }

  /* mobile menu social icons properties */
  .navbar .social-links {
    display: none;
  }

  /* hero */
  .hero {
    margin: 72px auto 0;
    width: 768px;
    height: 436px;
  }

  .hero .container {
    background-image: url(../images/hero-768.jpg);
    width: 100%;
    min-width: 768px;
    height: 436px;
    gap: 36px;
    padding: 112px 136px;
  }

  .hero .container::after {
    width: 768px;
    height: 436px;
  }

  .hero p {
    width: 496px;
    height: 120px;
    font-size: 56px;
    letter-spacing: 1.12px; /* %2 harf aralığı - 56px font büyüklüğü için 1.12px eder */
    line-height: 1.07;
  }

  /* services */
  .services {
    /* margin: 0 auto; */
    padding: 0;
  }

  .services .container {
    padding: 0px 16px;
  }

  .services ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    width: 736px;
    height: 312px;
    align-content: center;
  }

  .services li {
    flex-basis: calc((100% - 24px) / 2);
    text-align: left;
    width: 356px;
    height: 120px;
    max-height: 120px;
    margin-bottom: 48px;
  }

  .services li .baslik {
    text-align: start;
  }

  .services li p {
    font-weight: var(--medium);
  }

  /* team */
  .team .container {
    padding: 0;
  }

  /* team */
  .team .container {
    padding: 0px 108px;
  }

  .team ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }

  .team li {
    flex-basis: calc((100% - 24px) / 2);
  }

  .team li:first-child {
    margin-bottom: 40px;
  }

  .team li:last-child {
    margin-bottom: 0;
  }

  .team .social-links {
    flex-wrap: nowrap;
    gap: 24px;
    height: 50px;
  }

  .team .social-links li {
    width: 50px;
  }

  /* portfolio */
  .portfolio {
    margin-bottom: 0px;
  }

  .portfolio .container {
    padding: 0 16px;
  }

  .portfolio .box {
    flex-direction: row;
    gap: 24px;
    margin-bottom: -48px;
  }

  .portfolio .card {
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 48px;
  }

  /* contacts modal div properties */
  .modal-content {
    width: 408px;
    height: 584px;
    margin: 96px auto;
    padding: 24px;
  }

  .modal-content .icons {
    width: 360px;
  }

  .modal-content .form-contact {
    width: 360px;
  }

  .modal-content .form-contact .form-label {
    width: 360px;
  }

  .modal-content .form-contact .form-label .form-input {
    padding: 8px 34px;
  }

  .modal-content .form-contact .form-label .icon {
    top: 32px;
  }

  .modal-content .form-contact .form-label-3 {
    width: 360px;
  }

  .modal-content .form-contact .form-label-2 {
    width: 360px;
    gap: 8px;
    margin-bottom: 8px;
  }

  .form-contact .form-button {
    margin-left: 95px;
  }

  /* footer */
  .page-footer {
    height: 456px;
    margin-bottom: 0;
    padding: 0 164px 0 108px;
  }

  .page-footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px;
    width: 768px;
  }

  .page-footer .ft-logo {
    width: 264px;
    margin-bottom: 48px;
  }

  .page-footer .ft-logo .footer-logo {
    text-align: left;
  }

  .page-footer .ft-logo p {
    width: 264px;
    height: 72px;
  }

  .page-footer .social {
    margin: 0;
    align-items: flex-start;
  }

  .page-footer .social .social-links {
    align-self: flex-start;
    height: 40px;
  }

  .page-footer .subscribe {
    flex-direction: column;
    gap: 16px;
    width: 453px;
    height: 80px;
    align-items: flex-start;
  }

  .page-footer .subscribe form {
    width: 453px;
    height: 80px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .page-footer .subscribe .form-label {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .page-footer .subscribe .form-input {
    width: 264px;
  }

  .page-footer .subscribe .form-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    gap: 16px;
    width: 165px;
    height: 40px;
    padding: 8px 24px;
    margin-top: 40px;
  }
}

@media (min-width: 1158px) {
  /* section properties */
  section {
    padding: 120px 0;
  }

  /* container properties */
  .container {
    min-width: 1158px;
  }

  /* header properties */
  .page-header {
    width: 1440px;
  }

  .page-header .container {
    gap: 76px;
  }

  /* navbar properties */
  .navbar {
    width: 937px;
    gap: 332px;
  }

  /* mobile address properties */
  .navbar address {
    flex-direction: row;
    gap: 40px;
    width: 344px;
  }

  .navbar address a {
    width: 153px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px; /* %2 harf aralığı - 16px font büyüklüğü için 0.32px eder */
  }

  .navbar address a:last-child {
    opacity: 0.51;
  }

  /* hero */
  .hero {
    width: 1440px;
    height: 600px;
  }

  .hero .container {
    background-image: url(../images/hero-1158.jpg);
    width: 100%;
    min-width: 1440px;
    height: 600px;
    gap: 48px;
    padding: 188px 472px;
  }

  .hero .container::after {
    width: 100%;
    height: 600px;
  }

  /* services */
  .services {
    padding: 0;
  }

  .services .container {
    padding: 0px 15px;
  }

  .services ul {
    width: 1128px;
    height: 224px;
  }

  .services li {
    flex-basis: calc((100% - 72px) / 4);
    text-align: left;
    width: 264px;
    height: 224px;
    max-height: 224px;
    margin-bottom: 8px;
  }

  .services li .baslik {
    font-weight: var(--medium);
    font-size: 20px;
    letter-spacing: 0.4px; /* %2 harf aralığı - 20px font büyüklüğü için 0.40px eder */
    width: 264px;
    height: 24px;
    margin-bottom: 8px;
  }

  .services li p {
    font-weight: var(--regular);
    width: 264px;
    height: 72px;
  }

  .services ul li .icon-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: var(--cloud);
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .services ul li .icon-container .icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  /* team */
  .team {
    padding: 0;
  }

  .team .container {
    padding: 120px 15px;
    width: 1440px;
    height: 780px;
  }

  .team ul {
    width: 1128px;
    height: 428px;
    /* margin: 0 auto; */
  }

  .team li {
    flex-basis: calc((100% - 72px) / 4);
    width: 264px;
    height: 428px;
  }

  .team .social-links {
    height: 40px;
    width: 232px;
    margin: 0 16px;
    padding: 0;
    justify-content: center;
  }

  /* portfolio */
  .portfolio .container {
    padding: 0 15px;
  }

  .portfolio .card {
    flex-basis: calc((100% - 48px) / 3);
    margin-bottom: 48px;
  }

  .portfolio .card .img-box .hover-box {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 360px;
    height: 300px;
    background-color: var(--iris);
    color: var(--white);
    display: block;
    z-index: 200;
    padding: 40px 32px;
    transform: scaleY(0);
    transform-origin: bottom;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio .card:hover > .img-box .hover-box {
    transform: scaleY(1);
  }

  /* contacts modal div properties */
  .modal-content {
    margin: 80px auto;
  }

  /* footer */
  .page-footer {
    height: 312px;
    /* margin-bottom: 0; */
    padding: 0 15px;
  }

  .page-footer .container {
    width: 1158px;
    gap: 80px;
  }

  .page-footer .ft-logo {
    height: 112px;
    margin-bottom: 0px;
    margin-right: 40px;
  }

  .page-footer .social {
    width: 208px;
    height: 80px;
  }
}

@media (min-resolution: 2x) and (max-width: 767px) {
  .hero .container {
    background-image: url(../images/hero-320@2x.jpg);
  }
}

@media (min-resolution: 2x) and (max-width: 1157px) {
  .hero .container {
    background-image: url(../images/hero-768@2x.jpg);
  }
}

@media (min-resolution: 2x) and (min-width: 1158px) {
  .hero .container {
    background-image: url(../images/hero-1158@2x.jpg);
  }
}
